#percentage {
    display: none;
}/* 
#submit{
    float: right;
    margin-right: 200px;
}
.jumbotron{
    color: rgb(47, 209, 7);
    background-color: wheat;
}
.container{
    background-image: url(image/hack.jpeg);
}
p{
    text-align: center;
    font-size: 20px;
} */